
/*//////////////////// Initialisation ////////////////////*/

* {
    margin:0;
    padding:0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*//////////////////// Titre ////////////////////*/

body {
    display : flex;
    flex-direction: column;
    width: 100vw;
}

/*//////////////////// Conteneurs div ////////////////////*/

.global {
   display: flex;
   justify-content: center;
   min-width: 100%;
   min-height : 100vh;
}

#accueil, #tableau, #video {
    background-color: rgb(124,88,231);
}

#inscription, #article, #galerie {
    background-color: rgb(102,60,227);
}

/* Couleur plus claire au milieu */

.global section,
.global header,
.global footer {
    display : flex;
    flex: 0 1 1000px;
    background-color: rgba(255,255,255, .1) ;
}

/*//////////////////// Définition des polices ////////////////////*/

@font-face {
    font-family: rubikScribble;
    src: url("../polices/Rubik_Scribble/RubikScribble-Regular.ttf");
}

/*//////////////////// Application des nouvelles polices & configurations de texte ////////////////////*/

h1 {
    font-family: rubikScribble;
    font-size: clamp(1.875rem, 0rem + 5.8594vw, 3.75rem);
    color: rgb(234, 255, 127);
}

h2 {
    font-size: clamp(0.9375rem, 0rem + 2.9297vw, 1.875rem);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(48,72,143);
}